<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <style>
      body {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        color: #e17575;
        font-style: italic;
        letter-spacing: 3px;
      }
      /* button:hover {
        color: #29324a;
        transform: rotate(3);
        justify-content: center;
        align-items: center;
        margin-left: 0px;
      } */
    </style>
  </head>
  <body>
    <h1 class="header" , id="h1">Hey! I am a server.</h1>
    <h1 class="header" , id="h1">URL Shorten.</h1>
    <% if (locals.id) { %>
    <p>URL Generated: http://localhost:3000/url/<%= id %></p>
    <% } %>

    <form method="POST" , action="/url">
      <label>Enter your URL</label>
      <input type="text" ,name="url" , placeholder="https://url.com" />
      <button type="submit">Generate</button>
    </form>
    <% if (locals.urls) { %>
    <table>
      <thead>
        <th>SR. No</th>
        <th>ShortId</th>
        <th>Redirect</th>
        <th>Clicks</th>
      </thead>
      <tbody>
        <% urls.forEach((url,index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= url.shortId %></td>
          <td><%= url.redirectURL %></td>
          <td><%= url.visitHistory.length %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } %>
  </body>
</html>
